<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Tailwind CSS CDN for styling -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="w-full max-w-xs">
    <h1 class="block text-gray-700 text-xl font-bold mb-2">Project Management</h1>
</div>

<div class="w-full max-w-xs">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <h1 class="block text-gray-700 text-xl font-bold mb-2">Sign In</h1>
            <p class="text-sm text-gray-700 mb-4">Please sign in with one of your existing third party accounts. Or, <a href="/accounts/signup/" class="text-blue-500 hover:text-blue-800">sign up</a> for an account and sign in below:</p>
        </div>

        <!-- Social Authentication Links -->
        <div class="mb-4">
            <a href="/accounts/github/login/?process=login" class="block text-center text-white bg-gray-800 hover:bg-gray-900 py-2 rounded mb-2">Sign in with GitHub</a>
        </div>
        <div class="text-center mb-4">or</div>

        <!-- Login Form -->
        <form class="login" method="POST" action="/accounts/login/">
            <input type="hidden" name="csrfmiddlewaretoken" value="HYqgEIlFl0xHoGowkvTZCniEhb7hqMpXzOcGbrzOuc2sPWA2CmpqDU6HK1MuWSuD">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_login" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required id="id_login" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between mb-6">
                <label for="id_remember" class="inline-flex items-center">
                    <input type="checkbox" name="remember" id="id_remember" class="form-checkbox">
                    <span class="ml-2 text-sm text-gray-600">Remember Me</span>
                </label>
{#                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/accounts/password/reset/">Forgot Password?</a>#}
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
