{% extends 'base.html' %}
{% block head_title %}
    Update Task Progress
{% endblock head_title %}
{% block content %}
<div class="card mt-4 mx-auto" style="max-width: 500px;">
    <div class="card-header bg-primary text-white text-center">
        <h2>Update Task Progress: {{ task.name }}</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Update Progress</button>
        </form>
    </div>
</div>
{% endblock content %}
